<div class="container">
  <div class="row">
    <div class="col-6 justify-content-center">
      <h1>Stupid coaching</h1>
      <p>Ask your coach anything </p>
      <div >
        <form action="/answer" method="get" class="form-group">
          <input type="text" name="question" class="form-control">
          <input type="submit" value="ask" type="button" class="btn btn-primary btn-lg btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
